opencv-contrib-python>=4.13.0.92
mediapipe>=0.10.33
dlib>=20.0.0
ultralytics>=8.4.30
facenet-pytorch>=2.6.0
torch>=2.11.0
insightface>=0.7.3
onnxruntime>=1.24.4
tf-keras>=2.21.0
typing-extensions>=4.15.0
pydantic>=2.12.5
albumentations>=2.0.8